<section class="bg-dark-subtle" id="exercise">
    <div class="container pt-5">
        <div class="row">
            
            <div class="col-sm py-3">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="./pics/Abdominal Crunches.jpg" alt="Card image">
                    <div class="card-img-overlay bg-black opacity-50 align-content-center text-center">
                        <a href="./Exercises/Ab.html" class="text-white">
                            <h2 class="display-1">Crunches</h2>
                        </a>
                    </div>
                </div>        
            </div>
            <div class="col-sm py-3">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="./pics/plank.jfif" alt="Card image">
                    <div class="card-img-overlay bg-black opacity-50 align-content-center text-center">
                        <a href="./Exercises/Arm.html" class="text-white">
                            <h2 class="display-1">Plank</h2>
                        </a>
                    </div>
                </div>        
            </div>

        </div>
    </div>
    <div class="container pb-5">
        <div class="row">
            
            <div class="col-sm py-3">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="./pics/Russian Twist.jfif" alt="Card image">
                    <div class="card-img-overlay bg-black opacity-50 align-content-center text-center">
                        <a href="./Exercises/Ab.html" class="text-white">
                            <h2 class="display-1">Russian Twist</h2>
                        </a>
                    </div>
                </div>        
            </div>
            <div class="col-sm py-3">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="./pics/mountain climber.jfif" alt="Card image">
                    <div class="card-img-overlay bg-black opacity-50 align-content-center text-center">
                        <a href="./Exercises/Arm.html" class="text-white">
                            <h2 class="display-1">Mountain Climber</h2>
                        </a>
                    </div>
                </div>        
            </div>

        </div>
    </div>
</section>