<section class="hero-section text-center" id="hero-section">
    <div class="p-0 m-0 position-relative">
        <img src="../Pages/bg/runningbg.jpg" alt="Fitness" class="img-fluid w-100 h-100">
        <!-- Dark overlay -->
        <div class="dark-overlay position-absolute top-0 start-0 w-100 h-100"></div>
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
            <div>
                <h1 class="display-4 fw-bold responsive-text">Welcome to Fitness</h1>
                <p class="lead responsive-text">Discover the tools you need to grow and succeed. Simple, efficient, and tailored for you.</p>
                <button type="button" class="btn btn-outline-light">Start Now</button>
            </div>
        </div>
    </div>
</section>