<!-- Tab -->
<section id="tab">
  <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Fitness/Pages/Exercises/Ab.html">Abs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black-50" href="/Fitness/Pages/Exercises/Arm.html">Arms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black-50" href="/Fitness/Pages/Exercises/Chest.html">Chest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black-50" href="/Fitness/Pages/Exercises/Leg.html">Legs</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-black-50" href="/Fitness/Pages/Exercises/ShoulderBack.html">Shoulder & Back</a>
        </li>
    </ul>
</section>